main {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

div {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
}

@mixin gridColumns($number, $perc) {
  $cols: ();
  @for $i from 1 through $number {
    $cols: append($cols, $perc, space);
  }
  .grid-columns-#{$number} {
    grid-template-columns: #{$cols};
  }
}

@mixin gridRows($number, $perc) {
  $rows: ();
  @for $i from 1 through $number {
    $rows: append($rows, $perc, space);
  }
  .grid-rows-#{$number} {
    grid-template-rows: #{$rows};
  }
}

@for $i from 1 through 4 {
  $perc: 100 / $i;
  @include gridColumns($i, "#{$perc}%");
  @include gridRows($i, "#{$perc}%");
}
